.header1{
    height: 800px;
    background-size: cover;   
}

#jumbo{
    margin-top: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80pt;
    font-weight: lighter;
    background-color: rgba(22, 22, 22, 0.575);
}
.parallax {
    background-image: url(./bistro.jpeg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
